@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 20px;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(105, 104, 104)
  
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer {
  background-color: rgb(194, 192, 192);
}

.left-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  }

.right-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
