body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

a {
 text-decoration: none;
 color: rgb(235, 230, 230)
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight:bold;
  font-size: 30px;
  padding:10px;
  
}

.footer {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 600px;
  background: royalblue;
  box-sizing: border-box;
  font-size: 25px;
  padding:0px;
  row-gap:10px;
  
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 300px;
  padding: 20px;
}

.big-cont {
  display: flex;
  flex-direction: row;
}

.small-cont {
  display: flex;
  flex-direction: column;
  row-gap:20px;
  margin:30px;
  min-width:600px;
}