body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 15px;
}

.title {
  background: #e3f4ff;
  margin: 16px auto;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 5px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 5px;
  margin: 16px auto;
}

button {
  display: block;
  width:  auto;
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px auto;
}